.logo {
  border-radius: 5%;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* TODO: add this hailation to every icon */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* .logo.blue:hover {
  filter: drop-shadow(0 0 2em #61fb6baa);
} */
/* .logo.green:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

