@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: dark light;
  font-family: 'JetBrains Mono', monospace;

  transition: 1s;
}

:root{
  --dark: #1b1f23;
  --light: #fff;
  --border: #2b2f33;
  --green: #6db33f;
}
body{
  background: var(--dark);
  color: var(--light);
}
a{
  color: var(--green);
}

@media (prefers-color-scheme: light) {
  :root {
    --dark: #fff;
    --light: #1b1f23;
  }
}
.hero-img {
  -webkit-animation: morph 13s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid var(--border);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
  width: 20rem;
  height: 20rem;
  animation: border-move 13s ease-in-out infinite;
}
@keyframes border-move {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 60% 70% 40%/50% 60% 40% 30%;
  }
  50% {
    border-radius: 70% 40% 60% 30%/30% 50% 40% 70%;
  }
  75% {
    border-radius: 40% 70% 30% 60%/70% 40% 50% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
